:root {
  --primary-color: #F15A24;
  --secondary-color: #1A1A1A;
  --text-color: #4E4B66;
  --services-bg-color: #F7F7F7;
}

/* Globalus stiliai */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", system-ui;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1 {
  color: var(--secondary-color);
  font-weight: 900;
  font-size: clamp(39px, 5vw, 61px);
  line-height: clamp(46.8px, 7.5vw, 73.2px);
}

p {
  font-weight: 400;
  line-height: 24px;
  font-size: clamp(16px, 2vw, 20px);
}

a {
  text-decoration: none;
  display: inline-block;
}

/* Globalios klases */
.primary-btn {
  background-color: var(--primary-color);
  color: white;
  line-height: 19.2px;
  font-weight: 700;
  padding: 16px 32px;
  border: 2px solid var(--primary-color);
  transition: all 0.3s;
}
.primary-btn:hover {
  color: var(--primary-color);
  background-color: white;
}

.top-header,
.main-section,
.services-section {
  max-width: 1280px;
  margin: auto;
}

/* Virsutinio headerio atvaizdavimas */
.top-header {
  display: flex;
  padding: 24px 16px;
  justify-content: space-between;
  align-items: center;
}
.top-header .burger-btn,
.top-header .burger-btn rect {
  transition: all 0.3s;
}
.top-header__navigation, .top-header__contact-btn {
  display: none;
}
.top-header .burger-btn {
  cursor: pointer;
}
.top-header .burger-btn:hover {
  transform: scale(1.1);
}
.top-header .burger-btn:hover rect {
  fill: #1A1A1A;
}
@media (min-width: 768px) {
  .top-header {
    padding: 24px 32px;
  }
}
@media (min-width: 1024px) {
  .top-header {
    padding: 24px 40px;
  }
  .top-header__navigation, .top-header__contact-btn {
    display: flex;
  }
  .top-header__navigation {
    gap: 40px;
  }
  .top-header__navigation li a {
    line-height: 24px;
    color: var(--text-color);
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
  }
  .top-header__navigation li a:hover {
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
  }
  .top-header__contact-btn {
    border: 1px solid var(--primary-color);
    border-radius: 24px;
    padding: 16px 48px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 19.2px;
    transition: all 0.3s;
  }
  .top-header__contact-btn:hover {
    background-color: var(--primary-color);
    color: white;
  }
  .top-header .burger-btn {
    display: none;
  }
}

/* Main section atvaizdavimas */
.main-section {
  gap: 40px;
  padding: 60px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* h1 tago stilius .main-section elemente */
}
.main-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-section__picture {
  width: 100%;
  height: clamp(280px, 50vw, 510px);
}
.main-section__picture img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-section__content-wrapper p {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .main-section {
    padding: 60px 32px 40px 32px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .main-section {
    padding: 60px 40px 52px 40px;
  }
}
@media (max-width: 1279px) {
  .main-section h1 {
    max-width: 578px;
  }
  .main-section p {
    max-width: 63ch;
  }
}
@media (min-width: 1280px) {
  .main-section__content {
    flex-direction: row;
    text-align: left;
    align-items: start;
  }
  .main-section h1, .main-section__content-wrapper {
    flex: 1;
  }
}

/* Services atvaizdavimas */
.services-section {
  display: grid;
  padding: 0 16px;
  grid-template-columns: repeat(12, 1fr);
  gap: clamp(16px, 1.2vw, 20px);
}
.services-section__article {
  display: flex;
  flex-direction: column;
  background-color: var(--services-bg-color);
  border-radius: 20px;
  padding: 24px;
  gap: 20px;
  align-items: center;
  text-align: center;
  grid-column: span 12;
}
.services-section__article > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.services-section__article > div h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--secondary-color);
  margin-bottom: 12px;
}
.services-section__article > div p {
  color: var(--text-color);
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .services-section {
    padding: 0 32px;
  }
  .services-section__article {
    grid-column: span 6;
    align-items: center;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .services-section__article {
    grid-column: span 3;
  }
}/*# sourceMappingURL=styles.css.map */